/* Reset and base styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

html {
  scroll-behavior: smooth;
  background: linear-gradient(to top right, #000000, #001f3f, #001f4f);
}

body {
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  background: linear-gradient(to top right, #000000, #001f3f, #001f4f);
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between; /* Ensures footer sticks to bottom */
}

/* Global link hover effect */
a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
}

a:hover {
  color: #08fcec;
}
